html, body {	
   margin: 0px 0px 0px 0px;
   height: 100%;
   line-height: 1;
   font-size: 14px;
   font-family: 'Noto Sans', serif, sans-serif;   
}
/* -----------Обнуление стилей------------------------- */
body,h1,h2,h3,h4,h5,h6,p,ul,ol,li {
	padding: 0;
	margin: 0;
	border: 0;
}
*,*::before,*::after{box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,header,footer,aside{display: block;}
input,button,textarea{font-family: inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{
	padding: 0;
	border: 0;
}
a,a:visited,a:hover{text-decoration: none;}
ul, ol, li{list-style: none;}
/* ----------------Переменные-------------------- */
:root {
	--fz: 14px;
	--lh14: 1.72;
   --black: #38383a;
	--white: #fff;
	--orange: #ffc80a;
	--gray: #777;
	--swiper-pagination-bullet-horizontal-gap: 9px;
}
/* --------------------------------- */
.heading {
   margin-bottom: 45px;
   font-size: 2rem; 
   font-weight: 700;  
   line-height: 1;
}
._container {
   max-width: 1170px;
   margin: 0 auto;
   padding-left: 15px;
   padding-right: 15px;
}
._ibg {position: relative;}
._ibg img {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	object-fit: cover;
}
.wrapper {
   min-height: 100%;
   overflow: hidden;

   display: grid;
   grid-template-rows: auto 1fr auto;
}
@media (min-width: 320px) {
	.visible-mobile {display: grid;}
	.visible-tablet {display: none;}
}
@media (min-width: 768px) {
	.visible-tablet {display: grid;}
	.visible-mobile {display: none;}
}
/* =================================================== */
.navigation {
   background-color: var(--black);
   min-height: 67px;
   color: var(--white);
   text-transform: uppercase;
}
.navigation-container {
   display: flex;
   justify-content: space-between;
   align-items: center;

   min-height: 67px;
}
.navigation__text {
   letter-spacing: 0.3rem;
   font-weight: 700;
}
.menu__burger--button {
	position: relative;		
	width: 25px;
	height: 20px;
   cursor: pointer;				
}
.menu__burger--button span, .menu__burger--button::before, .menu__burger--button::after  {
	position: absolute;
	height: 20%;
	width: 100%;			
	background-color: #fff;
	transition: all 0.3s ease 0s;	
}
.menu__burger--button::before, .menu__burger--button::after {content: '';}
.menu__burger--button::before {top: 0;}
.menu__burger--button::after {bottom: 0;}
.menu__burger--button span {
	top: 50%;
	transform: translate(0px, -50%);
}
/* ------------------------------------ */
.logo {   
   /* background-color: var(--white); */
   padding-top: 2rem;
	padding-bottom: 2rem;
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
}
.logo__title {	
	margin-bottom: 6px;	
	font-size: 33px;	
	letter-spacing: 0.32em;
	color: #000;
}
.logo__subtitle {	
	letter-spacing: 0.8rem;
	color: #a1bbd9;
}
.slider {
   position: relative;
   padding-top: 60px;
	padding-bottom: 9px;
	background-color: #00306e;
   background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	box-shadow: 0px 3px 25px 0px #688ab3;
}
.slider__img {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}
.slider-swiper__col {
   text-align: center;
}
.slider-swiper__title {
   margin-bottom: 14px;	
	font-size: 28px;
	line-height: 1.36;
	font-weight: 700;
	letter-spacing: -0.02em;
	color: var(--white);
}
.slider-swiper__subtitle {
   margin-bottom: 105px;
	font-family: 'Noto Serif', serif;
	font-size: 18px;
	line-height: 1.56;
	font-weight: 400;
	color: #cddfe0;
}
/* Пагинация Буллеты */
.swiper-pagination-clickable {margin-bottom: 11px;}
.slider-swiper .swiper-pagination-bullet {	
	width: 12px;
	height: 12px;	
	background-color: var(--white);
}
/* --------------------------------------------- */
.benefits {   
   padding-top: 30px;
   padding-bottom: 40px;
   text-align: center;
}
.benefits__row {
   display: grid;
   row-gap: 40px;
}
.item__image {
   margin-bottom: 28px;
}
.item__title {
   margin-bottom: 11px;
   font-size: 1.5rem;
   line-height: 1;
   font-weight: 700;
}
.item__description {
   width: 90%;
   margin-left: auto;
   margin-right: auto;
   color: var(--gray);
   font-size: var(--fz);
   line-height: var(--lh14);
}
/* --------------------------------------------- */
.service-description {
   background-color: brown;
}
/* -------------------------------------------- */
.prices {
   background-color: chartreuse;
}
/* ----------------------------------------------- */
.footer {
   background-color: rgb(66, 49, 49);
}