.benefits {
   padding-top: 34px;
   padding-bottom: 50px;
   text-align: center;
   border-bottom: 1px solid #EBF0F6;
}

.benefits__row {
   display: grid;
   row-gap: 40px;

   margin-top: 45px;
}

.item__image {
   margin-bottom: 28px;
}

.item__title {
   margin-bottom: 11px;
   font-size: 21px;
   line-height: 1;
   font-weight: 700;
}