.logo {   
   padding-top: 104px;
   padding-bottom: 38px;
   font-weight: 700;
   text-transform: uppercase;
   text-align: center;
}

.logo__title {  
   font-size: 33px;
   line-height: 1.35;
   letter-spacing: 0.26em;
   color: #000;
}

.logo__subtitle {
   letter-spacing: 0.7em;
   color: #a1bbd9;
}