.logo {   
   padding-top: 95px;
   padding-bottom: 28px;
   font-weight: 700;
   text-transform: uppercase;
   text-align: center;
}

.logo__title {
   margin-bottom: 6px;
   font-size: 33px;
   letter-spacing: 0.32em;
   color: #000;
}

.logo__subtitle {
   letter-spacing: 0.8em;
   color: #a1bbd9;
}