html,
body {
   min-width: 320px;   
   min-height: 100vh;
   font-family: 'Noto Sans', serif, sans-serif;
   font-size: var(--fz);
   line-height: 1;   
}
/* ------------------------ */
@media (min-width: 320px) {
   .visible-mobile {display: grid;}
   .visible-tablet {display: none;}
}
@media (min-width: 768px) {
   .visible-tablet {display: grid;}
   .visible-mobile {display: none;}
}
/* --------------------------------- */
.text {
   color: var(--gray);
   font-size: var(--fz);
   line-height: var(--lh14);
   letter-spacing: 0.3px;
}
/* --------------------------------------- */
._ibg {position: relative;}
._ibg img {
   position: absolute;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   object-fit: cover;
}